/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&family=Rosario:wght@300;700&display=swap");

.container {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  height: 100%;
}

.navigation {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  background: red;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main section {
  background-image: url("/assets/background/slide-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.smooth-background {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: rgb(0, 0, 0, 0.4);
}

.column {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.color-col {
  width: 15px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.menu a {
  color: white;
  font-size: 15px;
}
.menu a:hover {
  color: #eaad5a;
}

.logo {
  width: 100%;
  text-align: center;
}

.logo img {
  height: 400px;
}

.call-to-action {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 15px 0 15px;

  color: #ffffff;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}

.call-to-action img {
  padding-top: 35px;
  opacity: 0.8;
  width: 65px;
}

.icons img {
  width: 25px;
}
.row img {
  width: 25px;
  margin-right: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0px 4px 4px;
}

@media (max-height: 580px) {
  .main section {
    min-height: 100vh;
  }
  .logo {
    margin-top: 6px;
  }
  .call-to-action {
    padding: 0;
  }
  .call-to-action img {
    padding-top: 5px;
    width: 35px;
  }
}

@media (min-width: 426px) {
  .color-col {
    width: 25px;
  }
}
@media (max-width: 375px) {
  .logo img {
    height: 360px;
  }
}
@media (max-width: 320px) {
  .logo img {
    height: 325px;
  }
}

/* .infos {
  min-height: 100vh;
  background-color: #4c6e63;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
} */
.infos {
  background-color: #4c6e63;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 14px;
}

.card {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #ffffff;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.top:hover {
  cursor: pointer;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 26px;
}

.plus {
  height: 35px;
}

.title {
  font-size: 26px;
  font-weight: 200;
}

.text {
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  padding-bottom: 42px;
}

.text p {
  margin-bottom: 25px;
}
.first {
  padding-top: 25px;
}

.menu-list {
  margin-top: 10px;
}
.menu-card {
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom-width: 1px;
  border-color: rgb(255, 255, 255, 0.3);
  border-bottom-style: solid;
  padding: 14px 0 14px 0;
}
.meal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #ffffff;
}

.name {
  font-family: "Rosario", sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  color: #eaad5a;
}
.meal-price {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffff;
}
.description {
  text-transform: lowercase;
  font-weight: 200;
}

.footer {
  background-color: #2F4742;
  width: 100%;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.social-media {
  display: flex;
  align-items: center;
}
.social-media img {
  margin-right: 12px;
}

.collapse {
  display: none;
  visibility: hidden;
}

.bold {
  font-weight: 500;
}

.space-text {
  letter-spacing: 5px;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.center a {
  padding: 15px 0 0 0;
}
.pulsate-bck {
  -webkit-animation: pulsate-bck 2.5s ease-in-out infinite both;
  animation: pulsate-bck 2.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-18 3:36:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
